<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">

	<Properties>
		<property name="LOG_HOME">logs/sample</property>
		<property name="FILE_NAME">mylog</property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p %t %C{1.} %F\:%L - %m%n" />
		</Console>

		<RollingRandomAccessFile name="running-log"
			fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout
				pattern="%d %-5p %C{1.} - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>

	</Appenders>
	<Loggers>
		<Logger name="com.myweb" level="trace" additivity="true">
			<AppenderRef ref="running-log" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>